// Lo que va en todas las páginas

body {
    min-height: 100vh;
    background: url(/images/greece-bg.jpg) no-repeat center center fixed !important; 
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
}