.btn-custom {
    padding: 0.4rem 0.2rem;
    margin: 1rem;
    border-radius: 4px;
    width: 150px;
    a {
        font-size: 1.2rem;
        text-decoration: none;
    }
}
.link-btn {
    background-color: $gray-500;
    a {
        text-decoration: none;
        color: $white;
    }

}
